.bg-img {
  background-image: url("../../assets/images/bgHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.bg-btn_color{
  background-color: #0C2E4E;
}

@media (max-width: 768px) { 

#home{
  text-align: center;
}
.btn-container{
  justify-content: center;
}


 }
