.bg-img-rtl {
  background-image: url("../../assets/images/bgHome.png");
}

.bg-img-ltr {
  background-image: url("../../assets/images/bgHomeLtr.png");
}

.bg-setting{
    background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.bg-btn_color{
  background-color: #0C2E4E;
}

@media (max-width: 768px) { 

#home{
  text-align: center;
}
.btn-container{
  justify-content: center;
}

.bg-img-ltr{
  background-image: url("../../assets/images/bg-phone-home.png");
}

.bg-img-rtl{
  background-image: url("../../assets/images/bg-phone-home.png");
}
 }


 @media (min-width: 300px) and (max-width: 400px) {
  .size-text{
    font-size: larger;
  }
}




