@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.device-container{
  position: relative;
  z-index: 1;
  background-image: url('../../assets/images/device-webapp.png');
}


.spin {
  position: absolute;
  top: 50%; /* Adjust the vertical position as needed */
  left: 50%; /* Adjust the horizontal position as needed */
  transform: translate(-50%, -50%); /* Center the spinner */
  animation: spin 5s linear infinite;
}

.ltr-position{
  left: auto;
  margin-left: 100px;

}

@media (max-width: 768px) { 

  #webapp{
    text-align: center;
    align-items: center;
  }
  
  
  
}


