.bg-image {
  background-image: url("../../assets/images/bgStartUp.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

  body{
    overflow-y: hidden ;
  }

  .light-image {
    background-image: url("../../assets/images/light-startup.png");
    background-repeat: no-repeat;
  }

  .startup-out {
    animation: slide-out 1s ease-out;
  }


  @media (max-width: 576px) {

    .phoneScreen{
      width: 350px;
     
    }

  }
  
  @keyframes slide-out {
    0% {
      opacity: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }