@font-face {
  font-family: 'iranSans';
  src: url('./assets/fonts/iranSans/IRANSans-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.scroll::-webkit-scrollbar{
  width: 12px;
  height: 12px;
  }
.scroll::-webkit-scrollbar-track {
  background-color: #222 !important;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #114579 !important;
  border-radius: 10px !important;
}
.scroll::-webkit-scrollbar-thumb:hover{
  background-color: #082b4d !important;
  border-radius: 10px !important;
}


.scroll::-moz-scrollbar {
width: 12px;
height: 12px;
}


.scroll::-moz-scrollbar-track {
background-color: #222 !important;
border-radius: 8px !important;
}

.scroll::-moz-scrollbar-thumb {
background-color: #022140 !important;
border-radius: 10px !important;
}

.scroll::-moz-scrollbar-thumb:hover {
background-color: #01101F !important;
border-radius: 10px !important;
}


body {
  
  overflow-x:hidden;
  overflow-y:scroll;
  font-family: 'iranSans', sans-serif;
  direction: rtl;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue-base-color{color: #427DCD;}

.gradiant-top-light {
  background-image: linear-gradient(to bottom, #022140, #01101F);
  background-size: cover;
}

.gradiant-bottom-light {
  background-image: linear-gradient(to bottom, #01101F, #022140);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-semi-transparent-blue{
  background-color: rgba(0, 136, 255, 0.33);
}

.bg-semi-transparent-green{
  background-color: rgba(37, 255, 163, 0.33);
}

.bg-semi-transparent-yellow{
  background-color: rgba(203, 191, 1, 0.33);
}